/*Layout*/
div{
    display:block;
}
#container{
    max-width:100%;
    width:340px;
	margin:5px auto;
}
#header{
	height:100px;
}
#nav{
    max-width:100%;
    width:360px;
	margin-top:5px;
}
#content{
	max-width:100%;
	margin-top:5px;
}
#footer{
	width:100%;
	box-sizing:border-box;
	padding:10px;
}

/*
Background body:#D7E4E8
Background container: #FFFFFF
Background header: #A7CDDC
Background nav: #381B43
Background content: #EFE4B0
Background footer:#22373C
Text colour: #22373C
*/

body{
	background-color:#D7E4E8;
	
}
#container{
	background-color:#FFFFFF;
}
#header{
	background-color:#A7CDDC;
	color:#6B6B6B;
	background-image:url("pics/logo.png");
	background-position:center top;
	background-repeat:no-repeat;
	font-family:Arial, Gadget, sans-serif;
	font-size:10px;
	font-weight:bolder;
	padding:20px;
}
    #header h1{
        margin-top:40px;
        text-align:center;
    }
#nav{
	background-color:#22373C;
}
	#nav ul{
	    list-style-type:none;
	}
	#nav li{
		font-family:Arial, Gadget, sans-serif;
		font-weight:bolder;
		margin-left:-40px;
	}
	#nav a{
	    display:block;
		/*width:347px;*/
		max-width:100%;
		height:24px;
		border:1px solid white;
		background-image:url(pics/sprite.png);
		background-repeat:no-repeat;
		text-indent:26px;
		padding-left:2px;
		color:white;
	}
	#index a:link{background-position:0 -48px;text-decoration:none;}
	#index a:hover{background-position:0 0;background-color:white;text-decoration:underline;color:black;}
	#index a.active{background-position:0 0;background-color:white;text-decoration:underline;color:black;}
	
	#pres a:link{background-position:0 -240px;text-decoration:none;}
	#pres a:hover{background-position:0 -192px;background-color:white;text-decoration:underline;color:black;}
	#pres a.active{background-position:0 -192px;background-color:white;text-decoration:underline;color:black;}
	
	#lab a:link{background-position:0 -144px;text-decoration:none;}
	#lab a:hover{background-position:0 -96px;background-color:white;text-decoration:underline;color:black;}
	#lab a.active{background-position:0 -96px;background-color:white;text-decoration:underline;color:black;}
	
	#kontakt a:link{background-position:0 -336px;text-decoration:none;}
	#kontakt a:hover{background-position:0 -288px;background-color:white;text-decoration:underline;color:black;}
	#kontakt a.active{background-position:0 -288px;background-color:white;text-decoration:underline;color:black;}
	
#content{
	padding:10px;
	background-color:#EFE4B0;
	color:#22373C;
}
	/*Text och stil på mina rubriker*/
	h2, h3, h4, legend{
		font-family:Arial, Gadget, sans-serif;
		font-weight:bold;
		line-height:30px;
	}
		h2{
			font-size:25px;
		}
		h3, h4{
			font-size:small;
		}
	/*Mer övergripande text och stil*/
	#strong, p, li, table, dl, form{
		font-family:Helvetica, Verdana, sans-serif;
		line-height:20px;
	}
	img, video{
		max-width:100%;
	}
	#strong{
		font-style:italic;
	}
	/*Överskrift och signatur på mina blogginlägg*/
	.post, p em{
		font-family:"Comic Sans MS", cursive, sans-serif;
	}
	
	/*Signatur på mina blogginlägg*/
	p em{
		font-style:italic;
		color:#8B4513;
	}
	/*Tabell*/
	table, th, td{
		border-collapse:collapse;
		border:1px solid #22373C;
		padding:3px;
	}
	thead, tfoot{
		font-family:Arial, Gadget, sans-serif;
		font-weight:bold;
		line-height:25px;
		text-align:center;
	}
		tr:nth-of-type(odd){
			background-color:#22373C;
			color:white;
		}
		tr:nth-of-type(even){
			background-color:white;
		}
	/*Övriga länkar som inte är del av menyn*/
	#content a:link{color:#7B68EE; text-decoration:none;}
	#content a:visited{color:#8B0000; text-decoration:none;}
	#content a:focus{color:#778899; text-decoration:underline;}
	#content a:hover{color:#778899; text-decoration:underline;}
	#content a:active{color:white; text-decoration:none;}

	/*Listor exklusive menyn*/
	#content ul li{
		margin-left:20px;
		list-style-type:circle;
	}
	#content dd{
		text-indent:15px;
	}
	#content .laborationer{
		list-style-type:none;
	}
	ol li{
		margin-left:15px;
		list-style-type:decimal;
	}
	fieldset{
		display:block;
		border:1px solid #22373C;
		padding:10px;
		max-width:90%;
		width:360px;
	}
	legend{
		padding:2px;
	}
	.label{
	display:block;
   	width: 170px;
   	text-align: left;
   	margin-right: 10px;
	}
	input{
		width:100%;
	}
	input[type=radio]{
		margin-left:-123px;
	}
#footer{
	background-color:#22373C;
	color:#FFFFFF;
	text-align:center;
}