/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/*Layout*/
#container{
	max-width:1100px;
	margin:0 auto;
}
#header{
	max-width:1098;
   padding:20px;
}
#nav{
	float:left;
	width:150px;
	margin-top:5px;
}
#content{
	float:right;
	width:946px;
}
#footer{
	clear:both;
	padding:20px;
}

/*
Background body:#D7E4E8
Background container: #FFFFFF
Background header: #A7CDDC
Background nav: #381B43
Background content: #EFE4B0
Background footer:#22373C
Text colour: #22373C
*/

body{
	background-color:#D7E4E8;
}
#container{
	background-color:#FFFFFF;
}
#header{
	background-color:#A7CDDC;
	color:#6B6B6B;
}
#nav{
	background-color:#381B43;
}
#content{
	background-color:#EFE4B0;
	color:#22373C;
}
#footer{
	background-color:#22373C;
	color:#FFFFFF;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}